<div class="page" *ngIf="section$ | async as page">
	<div class="right">
		<div class="header"> {{ page.title }} </div>
		<div class="description"> {{ page | json }} </div>
	</div>
	<div class="left">
		<div class="categories">
			<ng-container *ngFor="let category of page.categories ?? [] | seperator : seperator ">
				<span class="category" [routerLink]="category.route">
					{{ category.display }}
				</span>
			</ng-container>
		</div>
		<div class="items"></div>
		<div class="image"></div>
	</div>
</div>