.page {
	display: flex;
	flex-direction: row;
	height: calc(100vh - 40px);
	width: 100vw;

	.right {
		flex: 2;
		display: flex;
		flex-direction: column;

		.header {
			height: 40px;
			line-height: 40px;
			font-size: larger;
			font-weight: bolder;
			margin: auto;
		}

		.description {
			flex-grow: 1;
			max-height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			direction: ltr;

			.text {
				height: 100%;
				direction: rtl;
			}
		}
	}

	.left {
		flex: 3;
		display: flex;
		flex-direction: column;
		max-width: 60vw;

		.image {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.items {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			height: 40px;

			.item {
				width: 100%;
				text-align: center;
				border-left: 1px solid black;
			}
		}

		.categories {
			height: 40px;
			display: flex;
			justify-content: space-around;
			flex-direction: row;

			.category {
				width: 100%;
				text-align: center;
				border-left: 1px solid black;
			}
		}
	}
}