.page {
	display: flex;
	flex-direction: row;

	.right {
		flex: 1;
	}

	.left { 
		flex: 2;
	}
	.header {
		height: 40px;
		font-size: larger;
		font-weight: bolder;
	}

	.content {
		display: flex;
		flex-direction: row;

		.description {
			flex: 1;
		}

		.image {
			flex: 4;
		}
	}

	.items {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.categories {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}
}