.container {
	display: flex;
	flex-direction: column;

	.tabs {
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		.tab {
			height: 40px;
			line-height: 40px;
			width: 100%;
			text-align: center;
			border-left: 1px solid black;
		}

		.langs {
			display: flex;
			flex-direction: row;

			.lang {
				flex: 1;
			}
		}

	}
}