@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import 'swiper/scss/effect-coverflow';

.swiper-slide {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 300px;
	height: 300px;
	border: 1px solid black;

	.images-links & {
		width: unset;
		cursor: pointer;
	}
}